


body {
    margin: 0 auto;
    padding-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    gap : 20px;
    padding : 0 40px;
    grid-template-areas: ". conteudo conteudo conteudo conteudo .";
}

.conteudo {
    grid-area: conteudo;
    max-width: 1250px;
    width: 100%;
}

.dark-header {
    background-color: #024450;
    color: white;
    position: relative;
    z-index: 1;
}

.light-header {
    background-color: #008199;
    color: white;
    padding-top: 500px;
    margin-top: -500px;
}

.info-marca {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right:.5rem;
}

.titulo {
    font-size: 3rem;
    text-align: center;
}

.subtitulo {
    font-size: 2rem;
    text-align: center;
}

.dark-header-divider {
   background-image: url('../../assets/curve_header.svg');
   height: 150px;
   margin-top: 0px;
   background-position:  bottom left;
   background-size: cover;
   position: relative;
    z-index: 1;
}

.light-header-divider {
    background-image: url('../../assets/curve_header_light.svg');
    height: 520px;
    margin-top: -25px;
    background-position:  bottom left;
    background-size: cover;
 }
